/* style.css */
body {
  margin: 0;
  font-family: 'Serif', Garamond;
  background-image: url(img/bgdark2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  font-size: 12px;
  font-weight: bold;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #959D90;
}

/* Line on hover effect */
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #959D90;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Target the sidebar */
.w3-sidebar {
  width: 400px; /* Set the desired width */
  background-color:  #E8D9CD; /* Change the background color */
  color: #ffffff; /* Set text color for the button */
  border: none; /* Remove border */
  padding: 20px; /* Add some padding inside the sidebar */
  position: fixed; /* Position the sidebar */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  height: 100%; /* Take up full height */
  z-index: 1000; /* Ensure it's on top of other content */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
}


/* Style the links inside the sidebar */
.w3-sidebar a {
  padding: 10px; /* Add some padding to the links */
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Set the text color */
  display: flex;
  font-size: 18px;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
}

/* Change link color on hover */
.w3-sidebar a:hover {
  background-color: #EFEFE9;
  /* Change background color on hover */
}

.w3-sidebar .w3-button {
  margin-top: auto; /* Push the button to the bottom */
}
.w3-sidebar.transition {
  transition: width 0.3s ease-in-out; /* Add transition for width */
}
.search-bar {
  width: calc(100% - 150px); /* Set the width to 100% minus the width of the sidebar button */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  padding: 10px; /* Add padding for better appearance */
  margin: 535px 0; /* Add margin for spacing */
  border: none; /* Remove default border */
  border-radius: 20px; /* Add border radius for rounded corners */
  background-color: #f5f5f5; /* Background color */
  color: #333; /* Text color */
  font-size: 14px; /* Font size */
  font-family: Arial, sans-serif; /* Font family */
  outline: none; /* Remove outline on focus */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.search-bar:focus {
  background-color: #fff; /* Change background color on focus */
  box-shadow: 15 20 5px rgba(111, 68, 68, 0.3); /* Add box shadow on focus */
}
